{
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module"
  },
  "extends": ["airbnb"],
  "plugins": [
    "react-hooks"
  ],
  "globals": {
    "window": false,
    "document": false
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "no-console": "off",
    "import/no-extraneous-dependencies": "off",
    "max-len": "off"
  }
}
